- name: Pull and run docker image
  hosts: localhost
  tasks:

    - name: removing old containers
      shell: docker ps -aq --filter name="scientific-calculator" | xargs docker stop | xargs docker rm

    - name: pull image
      shell: docker pull av2000/scientific-calculator:latest
      
    - name: run container
      shell: docker run -i -t --name scientificCalculator -d av2000/scientific-calculator
